In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\krishna\\AppData\\Local\\Temp\\Temp1_graduate-admissions.zip\\Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [4]:
df1=df.set_index('Serial No.')
df1

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [5]:
x=df1.iloc[:,:-1].values

In [6]:
y=df1.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)

In [11]:
from sklearn.tree import DecisionTreeRegressor
DTR=DecisionTreeRegressor()
DTR.fit(x_train,y_train)
pred=DTR.predict(x_test)
pred

array([0.77, 0.45, 0.79, 0.67, 0.77, 0.64, 0.77, 0.64, 0.93, 0.91, 0.59,
       0.91, 0.72, 0.36, 0.83, 0.72, 0.71, 0.78, 0.66, 0.76, 0.89, 0.88,
       0.71, 0.46, 0.87, 0.65, 0.47, 0.64, 0.86, 0.57, 0.69, 0.74, 0.69,
       0.63, 0.8 , 0.8 , 0.65, 0.86, 0.53, 0.94, 0.74, 0.69, 0.78, 0.84,
       0.83, 0.65, 0.7 , 0.64, 0.72, 0.64, 0.66, 0.84, 0.73, 0.83, 0.68,
       0.7 , 0.65, 0.73, 0.76, 0.79, 0.82, 0.47, 0.64, 0.67, 0.79, 0.86,
       0.57, 0.92, 0.84, 0.73, 0.46, 0.84, 0.91, 0.65, 0.91, 0.59, 0.59,
       0.64, 0.9 , 0.49, 0.63, 0.73, 0.72, 0.89, 0.48, 0.78, 0.72, 0.71,
       0.8 , 0.78, 0.7 , 0.92, 0.49, 0.56, 0.82, 0.7 , 0.69, 0.64, 0.73,
       0.78])

In [13]:
from sklearn.metrics import mean_squared_error,mean_absolute_error
from numpy import sqrt
rmse=sqrt(mean_squared_error(pred,y_test))
rmse

0.10062802790475424

In [12]:
from sklearn.metrics import r2_score
r2score=r2_score(pred,y_test)
accuracy=r2score*100
accuracy

36.16716813830154