In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('C:\\Users\\krishna\\AppData\\Local\\Temp\\Temp1_seattle-house-sales-prices.zip\\house_sales.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [3]:
df1=df._get_numeric_data()
df1

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,400000,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,402101,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,400000,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,325000,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
df2=pd.DataFrame(data=df1,columns=('bedrooms','bathrooms','sqft_living','sqft_lot','sqft_above','price'))
df2

       bedrooms  bathrooms  sqft_living  sqft_lot  sqft_above   price
0             3       1.00         1180      5650        1180  221900
1             3       2.25         2570      7242        2170  538000
2             2       1.00          770     10000         770  180000
3             4       3.00         1960      5000        1050  604000
4             3       2.00         1680      8080        1680  510000
...         ...        ...          ...       ...         ...     ...
21608         3       2.50         1530      1131        1530  360000
21609         4       2.50         2310      5813        2310  400000
21610         2       0.75         1020      1350        1020  402101
21611         3       2.50         1600      2388        1600  400000
21612         2       0.75         1020      1076        1020  325000

[21613 rows x 6 columns]

In [5]:
x=df2.iloc[:,:-1].values

In [6]:
y=df2.iloc[:,-1].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train1=scaler.fit_transform(x_train)
x_test1=scaler.transform(x_test)

In [9]:
from sklearn.neighbors import KNeighborsRegressor

In [10]:
for k in [1,2,3]:
    knr=KNeighborsRegressor(k)
    knn=knr.fit(x_train1,y_train)
    pred=knn.predict(x_test1)

In [11]:
print("predicted value for k={}: {}".format(k,pred))

predicted value for k=3: [ 526316.66666667 1375000.          611000.         ...  591483.33333333
  250333.33333333  464333.33333333]

In [12]:
from sklearn.metrics import mean_squared_error
from numpy import sqrt

In [19]:
rmse_val=[]
for k in range(10):
    knr=KNeighborsRegressor(k)
    knr.fit(x_train1,y_train)
    pred1=knr.predict(x_test1)
    error=sqrt(mean_squared_error(y_test,pred1))
    rmse_val1.append(error)
    print('rmse value for k=',k,'is',error)

ValueError: Expected n_neighbors > 0. Got 0